---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: false
IndentCaseLabels: true
SpaceAfterCStyleCast: false
PointerAlignment: Right
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: false
AlignTrailingComments: true
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<esp_'
    Priority: 1
  - Regex: '^<freertos/'
    Priority: 2
  - Regex: '^<driver/'
    Priority: 3
  - Regex: '^<'
    Priority: 4
  - Regex: '^"'
    Priority: 5
---
